.sidebar {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: #c0c0c0;
  padding: 0px 10px 10px 10px;
}

#inputSel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px auto;
  width: 100%;
}

#playNames {
  width: 100%;
  resize: none;
  transition: 0.5s;
}

.sidebarInput:focus {
  outline-color: #ffd800;
  border: 1px 1px solid #ffd800;
}

#inputNo input {
  width: 75px;
}

#inputNo input:active {
  box-shadow: #897500;
}

.createIns {
  display: flex;
  align-items: center;
}

.createIns strong {
  display: flex;
  align-items: center;
  margin-left: 3px;
}
