.adminHeader {
  width: 100%;
  border-bottom: 3px double #c0c0c0;
  min-height: 60px;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}

.titleHolder {
  justify-content: center;
  /* flex-grow: 1; */
}

.adminHeaderButtonHolder {
  display: flex;
  justify-content: center;
}
