.cbrktpg {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.form-group {
  margin: 0 auto;
  padding-left: 10px;
}

#notSidebar {
  width: 100%;
  padding: 0;
  height: 100vh;
}

.brktWindow {
  height: calc(100vh - 61px);
  /* display: flex; */
  /* justify-content: center; */
  overflow: auto;
  padding: 0;
}

.brktBox {
  position: relative;
  margin: 0 auto;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.brktBox:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.match {
  background-color: #fff;
  border: 1px solid grey;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 1px 3px grey;
}

polyline {
  stroke: black;
  stroke-width: 2;
  stroke-linejoin: round;
}

/*individual rounds*/
.col-2 {
  padding-left: 0;
  padding-right: 0;
}
.matchNo {
  border-bottom: 1px solid grey;
  text-align: center;
  font-size: 10px;
  height: 18px;
  width: 100%;
}

.seeds {
  border-right: 1px solid grey;
  height: 50px;
  width: 32px;
  text-align: center;
}

.players {
  /* display: inline-flex; */
  width: 166px;
}
.play1 {
  height: 50%;
  width: 100%;
  border-bottom: 1px solid black;
  padding-left: 6px;
}

.play2 {
  height: 50%;
  width: 100%;
  display: flex;
  padding-left: 6px;
}

.seed1 {
  border-bottom: 1px solid black;
  height: 25px;
}
/*
.seed2 {
  border-right: 1px solid black;
  width: 15%;
  text-align: center;
  padding-top: 2px;
}

.name1 {
  border-right: 1px solid black;
  width: 85%;
  text-align: center;
  padding-top: 2px;
}

.name2 {
  border-right: 1px solid black;
  width: 85%;
  text-align: center;
  padding-top: 2px;
} */
